@font-face {
    font-display: swap;
    font-family : Century Gothic;
    font-style  : normal;
    font-weight : 400;
    src         : url(/img/icons/CenturyGothic.woff2) format("woff2"), url(/img/icons/CenturyGothic.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family : Century Gothic;
    font-style  : normal;
    font-weight : 700;
    src         : url(/img/icons/CenturyGothic-Bold.woff2) format("woff2"), url(/img/icons/CenturyGothic-Bold.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family : Block Berthold;
    font-style  : normal;
    font-weight : 700;
    src         : url(/img/icons/BlockBE-Condensed.woff2) format("woff2"), url(/img/icons/BlockBE-Condensed.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family : Le Gourmet;
    font-style  : normal;
    font-weight : 400;
    src         : url(/img/icons/LeGourmet.woff2) format("woff2"), url(/img/icons/LeGourmet.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family : Le Gourmet Bouncy;
    font-style  : normal;
    font-weight : 400;
    src         : url(/img/icons/LeGourmetBouncy.woff2) format("woff2"), url(/img/icons/LeGourmetBouncy.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family : Le Gourmet Script;
    font-style  : normal;
    font-weight : 400;
    src         : url(/img/icons/LeGourmetScript.woff2) format("woff2"), url(/img/icons/LeGourmetScript.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family : American Typewriter;
    font-style  : normal;
    font-weight : 400;
    src         : url(/img/icons/AmericanTypewriter.woff2) format("woff2"), url(/img/icons/AmericanTypewriter.woff) format("woff")
}