/* General Styles */
body {
    margin         : 0;
    font-family    : 'Poppins', sans-serif;
    display        : flex;
    flex-direction : column;
    min-height     : 100vh;
    justify-content: center;
    align-items    : center;
}

.container {
    display : flex;
    height  : 100vh;
    width   : 100vw;
    position: relative;
}

/* Two Column Layout */
.left-side,
.right-side {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    color          : #d3d3d3;
    position       : relative;
    overflow       : hidden;
}

.left-side {
    background-color: #F39200;

    /* Orange */
    .button {
        background-color: #60C430; /* Blue background */
        color: #d3d3d3; /* White text */
        border: none; /* No border */
        padding: 15px 25px; /* Padding for size */
        font-family: 'Bebas Neue', sans-serif; /* Bold font */
        font-size: 1.5rem; /* Font size */
        text-transform: uppercase; /* Uppercase text */
        cursor: pointer; /* Pointer cursor */
        transition: all 0.3s ease; /* Smooth transition */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
        &:hover
        {
            background-color: #60C430; /* Darker blue on hover */
            border-radius: 50px; /* Fully rounded corners on hover */
        }

    }

    .product-image {
        transform: translateX(62%); /* Move image to the center of the column */
    }

    .content{
        h1 {
            font-size  : 2.5rem;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Bebas Neue', sans-serif; /* Using Bebas Neue */
            letter-spacing: 2px; /* Adds some spacing between letters */
            margin: 0;
            span {
                font-size: 3.5rem;
                display: block;
                letter-spacing: 3px; /* Adjusts spacing for larger text */
            }
        }
    }

}

.right-side {
    background-color: #60C430;

    .content{
        h1 {
            font-size  : 2.5rem;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Bebas Neue', sans-serif; /* Using Bebas Neue */
            letter-spacing: 2px; /* Adds some spacing between letters */
            margin: 0;
            span {
                font-size: 3.5rem;
                display: block;
                letter-spacing: 3px; /* Adjusts spacing for larger text */
            }
        }
    }

    /* Blue */
    .button {
        background-color: #FFB400;
        color           : #d3d3d3;
        border: none; /* No border */
        padding: 15px 25px; /* Padding for size */
        font-family: 'Bebas Neue', sans-serif; /* Bold font */
        font-size: 1.5rem; /* Font size */
        text-transform: uppercase; /* Uppercase text */
        cursor: pointer; /* Pointer cursor */
        border-radius: 5px; /* Slightly rounded corners */
        transition: all 0.3s ease; /* Smooth transition */
        letter-spacing: 1.5px;
        &:hover{
            border-radius: 50px; /* Fully rounded corners on hover */
        }
    }

    .product-image {
        transform: translateX(-50%); /* Move image to the center of the column */
    }
}

/* Add a white gap (vertical line) between the two sides */
// .container {
//     &::before {
//         content         : "";
//         width           : 2.5rem;
//         background-color: white;
//         position        : absolute;
//         height          : 100%;
//         top             : 0;
//         left            : 50%;
//         transform       : translateX(-50%);
//         z-index         : 5;
//     }
// }


/* Content Styles */
.content {


    p {
        margin-top: 10px;
        font-size : 1.2rem;
    }
}

.button {
    margin-top      : 20px;
    padding         : 10px 20px;
    background-color: #0056b3;
    color           : #d3d3d3;
    text-decoration : none;
    font-weight     : bold;
    border-radius   : 5px;
}

.product-image {
    max-height: 50vh; /* Display half of the image */
    object-fit: cover;
    position: relative;
    z-index: 2; /* Keep it above the background */
}

/* Logo */
.logo {
    // background-color: #60C430;
    background-color: #808080;
    display         : block;
    max-height      : 7.5rem;
    padding         : 1rem;
    position        : absolute;
    top             : 3rem;
    left            : 50%;
    transform       : translateX(-50%);
    z-index         : 10;

    .custom-logo-link {
        display  : block;
        margin   : 0 auto;
        max-width: 4rem;

        img {
            width: 100%;
            height: 100%;
        }

        &:focus {
            box-shadow: 0 0 0 .25rem hsla(0, 0%, 100%, .5)
        }
    }
}

@media (min-width:768px) {
    .logo {
        background-color: transparent;
        left            : 50%;
        max-height      : none;
        padding         : 0;
        position        : absolute;
        top             : 2rem;
        transform       : translateX(-50%);
        width           : auto;
        z-index         : 10;

        .custom-logo-link {
            // background-color: #2d7808;
            background-color: #000;
            border-radius   : 999em;
            max-width       : 15rem;
            padding         : 1.5rem 1rem
        }
    }
}

/* Footer */
footer {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    width           : 100%;
    padding         : 10px;
    background-color: #898989;
}

.social-icons a {
    margin         : 0 10px;
    color          : #fff;
    font-size      : 1.5rem;
    text-decoration: none;
}

.captcha {
    font-size: 0.8rem;
    color: #fff;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items   : center;
        text-align    : center;
    }

    .social-icons a {
        margin: 5px;  /* Reduce margin for better spacing */
    }

    .captcha {
        margin-top: 10px;
    }
}
