/* General Styles */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

/* Two Column Layout */
.left-side,
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.left-side {
  background-color: #F39200;
  /* Orange */
}
.left-side .button {
  background-color: #60C430; /* Blue background */
  color: white; /* White text */
  border: none; /* No border */
  padding: 15px 25px; /* Padding for size */
  font-family: "Bebas Neue", sans-serif; /* Bold font */
  font-size: 1.5rem; /* Font size */
  text-transform: uppercase; /* Uppercase text */
  cursor: pointer; /* Pointer cursor */
  transition: all 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.left-side .button:hover {
  background-color: #60C430; /* Darker blue on hover */
  border-radius: 50px; /* Fully rounded corners on hover */
}
.left-side .product-image {
  transform: translateX(55%); /* Move image to the center of the column */
}
.left-side .content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif; /* Using Bebas Neue */
  letter-spacing: 2px; /* Adds some spacing between letters */
  margin: 0;
}
.left-side .content h1 span {
  font-size: 3.5rem;
  display: block;
  letter-spacing: 3px; /* Adjusts spacing for larger text */
}

.right-side {
  background-color: #60C430;
  /* Blue */
}
.right-side .content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif; /* Using Bebas Neue */
  letter-spacing: 2px; /* Adds some spacing between letters */
  margin: 0;
}
.right-side .content h1 span {
  font-size: 3.5rem;
  display: block;
  letter-spacing: 3px; /* Adjusts spacing for larger text */
}
.right-side .button {
  background-color: #FFB400;
  color: white;
  border: none; /* No border */
  padding: 15px 25px; /* Padding for size */
  font-family: "Bebas Neue", sans-serif; /* Bold font */
  font-size: 1.5rem; /* Font size */
  text-transform: uppercase; /* Uppercase text */
  cursor: pointer; /* Pointer cursor */
  border-radius: 5px; /* Slightly rounded corners */
  transition: all 0.3s ease; /* Smooth transition */
  letter-spacing: 1.5px;
}
.right-side .button:hover {
  border-radius: 50px; /* Fully rounded corners on hover */
}
.right-side .product-image {
  transform: translateX(-50%); /* Move image to the center of the column */
}

/* Add a white gap (vertical line) between the two sides */
/* Content Styles */
.content p {
  margin-top: 10px;
  font-size: 1.2rem;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.product-image {
  max-height: 50vh; /* Display half of the image */
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 2; /* Keep it above the background */
}

/* Logo */
.logo {
  background-color: #fff;
  display: block;
  max-height: 7.5rem;
  padding: 1rem;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.logo .custom-logo-link {
  display: block;
  margin: 0 auto;
  max-width: 4rem;
}
.logo .custom-logo-link img {
  width: 100%;
  height: 100%;
}
.logo .custom-logo-link:focus {
  box-shadow: 0 0 0 0.25rem hsla(0, 0%, 100%, 0.5);
}

@media (min-width: 768px) {
  .logo {
    background-color: transparent;
    left: 50%;
    max-height: none;
    padding: 0;
    position: absolute;
    top: 2rem;
    transform: translateX(-50%);
    width: auto;
    z-index: 10;
  }
  .logo .custom-logo-link {
    background-color: #fff;
    border-radius: 999em;
    max-width: 15rem;
    padding: 1.5rem 1rem;
  }
}
/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
}

.social-icons a {
  margin: 0 10px;
  color: #333;
  font-size: 1.5rem;
  text-decoration: none;
}

.captcha {
  font-size: 0.8rem;
}
